$green: green;
$blue: #1C528A;



@import "./basics/fonts.scss";
@import "./basics/variables.scss";
@import "./basics/transitions.scss";
@import "./basics/universal.scss";



.border__radius {
    border-radius: 5px;
}
.yellow__btn:active{
    transform: scale(1.09, 1.06);
}
.active:active{
    transform: scale(1.03, 1.04);
}
 .yellow__btn:hover {
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}
.v-text-field--filled>.v-input__control>.v-input__slot,
.v-text-field--full-width>.v-input__control>.v-input__slot,
.v-text-field--outlined>.v-input__control>.v-input__slot {
    /* padding-bottom: 12px!important; */
    min-height: 46px !important;
}
.border__radius {
    border-radius: 5px;
}
.h-100 {
    height: 100vh;
}
.h-90 {
    height: 90vh;
}
.grey__bottom__img {
    background-size: 50% 45%, 10% 20%;
    background-position: right bottom, right top;
    background-repeat: no-repeat;
    background-image: url('/img/patterns.svg'), url('/img/topppaterns.svg');
}
.router__link {
    text-decoration: none;
}
.white__img__background {
    background-image: url('/img/patterns.svg'), url('/img/topppaterns.svg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 40% 35%, 10% 17%;
    background-position: right bottom, right top;
}
.yellow__btn {
    background-color: #FFBC44;
    color: #000;
    outline: none;
    width: 100%;
    height: 46px;
}

.green__btn{
    background-color: #27B81B;
    color: #ffffff;
    border-radius: 9px;
}
.disabled__btn{
    background-color: #e0e0e0;
    color: #1C528A;
    font-weight: bold;
    border-radius: 9px;
}
.no__link{
    text-decoration: none;
}
.box__shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.border__bottom{
    border-bottom: 1px solid #E0E0E0;
}