
.font__bold {
    font-weight: bold;
}

.font__white {
    color: #ffffff;
}

.font__purple {
    color: #1C528A;
}

.font__ash {
    color: #C4C4C4;
}

.font__xx__sm {
    font-size: 0.6em;
}

.font__x__sm {
    font-size: 0.7em;
}

.font__sm {
    font-size: 0.9em;
}

.font__xx__md {
    font-size: 1em;
}

.font__x__md {
    font-size: 1.2em;
}

.font__md {
    font-size: 1.4em;
}

.font__xx__bg {
    font-size: 1.6em;
}
